######################
# Java / Gradle
######################
.gradle/
build/
buildSrc/.gradle/
buildSrc/build/
!gradle/wrapper/gradle-wrapper.jar # garante que o wrapper do gradle seja versionado
*.class
*.jar
*.war
*.ear

######################
# IDEs
######################
# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VSCode
.vscode/
*.code-workspace

# Eclipse
.project
.classpath
.cproject
.settings/
.externalToolBuilders/

# STS
.sts4-cache/

######################
# Node (se usar frontend junto)
######################
/node_modules/
/node/
/npm-debug.log*

######################
# Mac / Windows / Linux
######################
.DS_Store
Thumbs.db
Desktop.ini
.svn
._*
.Spotlight-V100
.Trashes

######################
# Outros
######################
*.log
*.orig
*~ # arquivos temporários de edição
*.merge_file*

######################
# SQL / Configs (manter)
######################
!.env
!*.sql
!*.properties
!*.yml
!*.yaml
!Dockerfile
!docker-compose.yml

# Se estiver usando Liquibase
!src/main/resources/db/changelog/**

######################
# src (mantém tudo)
######################
!src/**
