#############################
# Java / Gradle
#############################
*.class
*.jar
*.war
*.ear

# Diretórios de build
/build/
/.gradle/

# Gradle Wrapper (mantém apenas o jar necessário)
!gradle1/wrapper/gradle-wrapper.jar
gradle1/wrapper/gradle-wrapper.properties

#############################
# IDEs
#############################
# IntelliJ IDEA
.idea1/
*.iml
*.iws
*.ipr

# VSCode
.vscode/
*.code-workspace

# Eclipse / STS
.project
.classpath
.cproject
.settings/
.externalToolBuilders/
.sts4-cache/

#############################
# Arquivos temporários e logs
#############################
*.log
*.log.*
*.tmp
*.orig
*~
*.merge_file*

#############################
# Sistema Operacional
#############################
.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini

#############################
# Node.js (caso use no futuro)
#############################
/node_modules/
/node/
/npm-debug.log*

#############################
# Arquivos que DEVEM ser versionados
#############################
!.env
!*.sql
!*.properties
!*.yml
!*.yaml
!Dockerfile
!docker-compose.yml
!wait-for-it.sh
!sonar-project.properties

#############################
# Maven (caso ainda tenha vestígios)
#############################
target/
pom.xml
